.message-list-wrapper {
    font-size: .2rem;
}
.message-bg{
    width: 100%;
    height: 100%;
    top:0;
}
.message-list {
    width: 5.8rem;
    height: 7.4rem;
    background: url(../../static/img/message_table_bg.png) no-repeat;
    background-size: 100% 100%;
    z-index: 11;
}
.message-list .green {
    padding-top: .2rem;
}
.message-list .green .detail {
    display: inline-block;
    width: .62rem;
    height: .24rem;
    text-align: right;
    background: url('../../static/img/message_btn_read.png') no-repeat;
    background-size: 100% 100%;
}
.message-list-item {
    width: 80%;
    height: 1.38rem;
    padding: 0 .1rem;
    border-radius: .2rem;
    background: #ececec;
    margin: .2rem auto;
}
.message-list-item .icon {
    text-align: center;
}
.message-list-item .icon img {
    width: 1rem;
}
.message-list-item .Grid-cell.from {
    text-align: center;
    margin: 0.2rem 0;
}
.message-list-item .Grid-cell.from .manager {
    text-align: center;
    vertical-align: middle;
    width: 76%;
    margin-left: 12%;
    background: #ccc;
}
.message-detail {
    padding: 0 10%;
    height: 90%;
    position: relative;
}
.message-detail .main-content {
    background: #ececec;
    min-height: 84%;
    border-radius: .14rem;
    padding: .3rem;
}
.message-detail .main-content .header >div:nth-child(1){
    border-radius: .12rem;
    background: #d8d8d8;
    padding: .01rem .08rem;
}
.message-detail .op-btn {
    position: absolute;
    bottom: 0;
    width: 80%;
}
.message-detail .title {
    padding: .4rem 0;
}
.delete-dialog .op-btn {
    position: absolute;
    width: 100%;
    bottom: .3rem;
    padding: 0 0.5rem;
}
.delete-dialog {
    position: absolute;
    width: 5.26rem;
    height: 3.1rem;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 12;
    background: url(../../static/img/message_delete_table.png) no-repeat;
    background-size: 100% 100%;
}


