.message-list-wrapper {
    font-size: .2rem;
    overflow: auto;
    margin: 100px auto;
    
}
.message-bg{
    width: 100%;
    height: 100%;
    top:0;
}
.message-list {
    width: 90%;
    height: 950px;
    background: url(/static/img/message_table_bg.png) no-repeat;
    background-size: 100% 100%;
    z-index: 10;
    top: 80px;
    margin: 0 auto;
}
.message-list .green {
    padding-top: .2rem;
}
.message-list .green .detail {
    display: inline-block;
    width: .8rem;
    height: .4rem;
    text-align: right;
    background: url('../../static/img/message_btn_read.png') no-repeat;
    background-size: 100% 100%;
}
.message-list-item {
    width: 90%;
    padding: 0 10px;
    height: 1.38rem;
    border-radius: .2rem;
    background: #ececec;
    margin: .4rem auto;
    background: url('../../static/img/message_info_table.png') no-repeat;
    background-size: 100% 100%;
}
.message-list-item .icon {
    text-align: center;
}
.message-list-item .icon img {
    width: 1rem;
}
.message-list-item .Grid-cell.from {
    text-align: center;
    margin: 20px 0 0 10px;
}
.message-list-item .Grid-cell.from .manager {
    text-align: center;
    vertical-align: middle;
    width: 74%;
    height: 33px;
    line-height: 32px;
    margin-left: 12%;
    background: #b7883a;
    color: #fff;
}
.message-detail {
    margin: 0 5%;
    height: 92%;
    position: relative;
    border: 6px solid #e9ab2d;   
    background: #fff;
}
.message-detail .main-content {
    background: #fff2d6;
    min-height: 70%;
    margin: 17px;
    padding: 0 17px;
}
.message-detail .main-content .header >div:nth-child(1){
    border-radius: .12rem;
    background: #d8d8d8;
    padding: .01rem .08rem;
}
.message-detail .op-btn {
    bottom: 0;
    width: 80%;
    margin:28px 56px;
}
.message-detail .title {
    padding: .4rem 0;
}
.message-detail .header {
    background: #ffd16d;
    margin:25px 15px;
    padding: 15px 0;
    font-size: 20px;
}
.delete-dialog .op-btn {
    position: absolute;
    width: 100%;
    bottom: .3rem;
    padding: 0 0.8rem;
}
.delete-dialog {
    position: absolute;
    width: 6rem;
    height: 3.5rem;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 12;
    background: url(../../static/img/message_delete_table.png) no-repeat;
    background-size: 100% 100%;
}


