
.recode-bg{
    width: 100%;
    height: 100%;
    top:0;
}
.recode-bg .recode-close {
    width: 11%;
    height: 7%;
    background: url("../../static/img/my_btn_cancel1.png") center no-repeat;
    background-size: 100%;
    right: 3%;
    top: 12%;
    z-index: 12;
}
.recode-bg .recode-list{
    width:90%;
    height:100%;
    font-size:12px;
    background:url("../../static/img/my_frame_bg.png") center 25% no-repeat;
    z-index:10;
    left:5%;
    background-size: 100%;
}
/*列表信息*/
.record-content{padding:3.6rem .2rem 0;height:calc(100vh - 23%);}
.record-list-wrapper{overflow:auto; margin: 0% 9% 0;}
.item-infos{

}
.item-infos record-price{width:.8rem;height:.7rem}
.item-infos record-price span{
    font-size:0.2rem;
    position: absolute;
    top: 0rem;
    color:#B06F01;
}
.item-infos record-price span:last-child{
    top: 0.38rem;
    background: #F1BD35;
    border-radius: 0.06rem;
    text-align: left;
    padding: 0.04rem 0.2rem 0.04rem 0.1rem;
    color: #fff;
}
.item-infos .record-type{
    width: 0.6rem;
    background: #fff;
    text-align: center;
    border-radius: 8px;
    margin-right: 0.1rem;
}
.item-infos  .payaway{ right:0.1rem;  }
.history-list{
    width: 100%;
    height: 50%;
    overflow: auto;
    padding: 0rem 0.12rem 0;
}
.history-list .history-list-item{
    position: relative;
    width:29.4%;    
    float: left;
    text-align: center;
    border-radius: 0.2rem;
    padding: 0.1rem 0.1rem; 
    margin: 0.1rem 0.1rem; 
    color: #AF7300;
    background: #fff;
    background-size: 110%;
}
.history-list .history-list-item .toy-list{
    margin: 5px ;
}
.record-list-them{width:33%;color:#AF7300;font-weight:bold;line-height:20px;}
.record-list-time{right:0;width:0.8rem;color:#AF7300;font-weight:bold;}
.mint-tab-item-label{width:70%;margin:0}
.mint-tab-item:nth-child(1) .mint-tab-item-label{width:70%;margin:0;margin-left:0.5rem}
/*提取娃娃*/
.extract-pro{
    width: 3rem;
    bottom: 1rem;
    left: 50%;
    margin-left: -1.5rem;
}
.record-content .mint-cell{border-bottom:2px dashed #fff;}
