
.recode-bg{
    width: 100%;
    height: 100%;
    top:0;
}
.recode-bg .recode-close {
    width: 11%;
    height: 7%;
    background: url("../../static/img/my_btn_cancel1.png") center no-repeat;
    background-size: 100%;
    right: 3%;
    top: 113px;
    z-index: 12;
}
.recode-bg .piece-exchange {
    width: 18%;
    height: 10%;
    background: url("../../static/img/btn_exchange.png") center no-repeat;
    background-size: 100%;
    left: 7.5%;
    top: 200px;
    z-index: 12;
}
.recode-bg .message-show {
    width: 18%;
    height: 10%;
    background: url("../../static/img/message001.png") center no-repeat;
    background-size: 98%;
    left: 26.5%;
    top: 200px;
    z-index: 12;
}
.recode-bg .recode-list{
    width:90%;
    height: 9.9rem;
    font-size:12px;
    background:url("../../static/img/my_frame_bg.png") no-repeat;
    z-index:10;
    top: 80px;
    left:5%;
    background-size: 100%;
    text-align:center;
}
.mint-navbar{
    top:218px;z-index:100;width:88%
}
/*列表信息*/
.record-content{
    margin: 3.2rem .4rem 0;
    height: 520px;
    overflow: auto;
    }
.record-list-wrapper{overflow:auto; margin: 0.2rem 2% 0;display:block;}
.item-infos{

}
.item-infos record-price{width:.8rem;height:.7rem}
.item-infos record-price span{
    font-size:0.2rem;
    position: absolute;
    top: 0rem;
    color:#B06F01;
}
.item-infos record-price span:last-child{
    top: 0.38rem;
    background: #F1BD35;
    border-radius: 0.06rem;
    text-align: left;
    padding: 0.04rem 0.2rem 0.04rem 0.1rem;
    color: #fff;
}
.item-infos .record-type{
    width: 25%;
    text-align: center;
    border-radius: 8px;
    margin-right: 0.1rem;
    background-size: 98%;
    height: 1.3rem;
}
.item-infos .record-type img{
    width:62%;
    margin-top:0.26rem;
    margin-left: 0.2rem;
}
.item-infos  .payaway{ right:0.1rem;  }
.history-list{
    width: 100%;
    height: 100%;
    /*overflow: auto;*/
    padding: 0rem 0.08rem 0;
}
.history-list .history-list-item{
    width: 31%;
    height: 2.4rem;
    float: left;
    text-align: center;
    border-radius: 0.1rem;
    margin: 0.1rem .05rem;
    color: #AF7300;
    background:url('../../static/img/my_mine_info_bg.png') no-repeat 0 0;
    background-size: 101% 100%;

}
.history-list .history-list-item img{
    margin: 0.1rem 0.1rem 0rem 0.1rem;
    width: 87% !important;
    text-align: center;
    border-radius: 0.2rem;
    color: #AF7300;
    background-size: 110%;
}
.history-list .history-list-item .toy-list{
    margin: 5px ;
}

.piece-list .piece-count-default{
    width: 60%;
    background: #ccc;
    display: inline-block;
    border-radius: 0.3rem;
    font-size: 0.24rem;
    font-weight: bold;
    height: 100%;
}
.piece-list .piece-count{
    background: #F9D829;
}
.record-list-them{width:33%;color:#AF7300;font-weight:bold;line-height:20px;font-size:18px;text-align:left;}
.record-list-time{color:#AF7300;font-weight:bold;line-height:20px;text-align:right;}
.mint-tab-item-label{width:100%;margin:0}
.no-exchange .mint-tab-item:nth-child(1) .mint-tab-item-label{width:100%;margin:0;margin-left:0.35rem}
.no-exchange .mint-tab-item:nth-child(2) .mint-tab-item-label{width:100%;margin:0;margin-left:0.11rem}
.no-exchange .mint-tab-item:nth-child(3) .mint-tab-item-label{width:100%;margin:0;margin-left:-.12rem}
.exchange .mint-tab-item:nth-child(1) .mint-tab-item-label{width:100%;margin:0;margin-left:0.35rem}
.exchange .mint-tab-item:nth-child(2) .mint-tab-item-label{width:100%;margin:0;margin-left:0rem}
.mint-tab-container-item input {display: none;}
/*提取娃娃*/
.extract-pro{
    width: 3rem;
    top: 890px;
    left: 50%;
    margin-left: -1.5rem;
}
.record-content .mint-cell{
    background:url('../../static/img/my_record_info_bg.png') no-repeat !important;
    background-size: 100% 100% !important;
    margin-bottom: 20px;
}
.record-content .mint-cell-value{
    height: 146px;
}
.checkbox-select {
    position: absolute;
    top: 6px;
    right: 4px;
 }
.checkbox-input:checked+.checkbox-core {
    background: url('../../static/img/my_mine_btn_choose2.png') no-repeat;
    background-size: 100% 100%;
}

.checkbox-core {
    display: inline-block;
    background: url('../../static/img/my_mine_btn_choose1.png') no-repeat;
    background-size: 100% 100%;
    /*background-color: #fff;*/
    /*border-radius: 100%;*/
    /*border: 1px solid #ccc;*/
    position: relative;
    width: 28px;
    height: 28px;
    vertical-align: middle;
}
.extract-info{
    text-align:center;color:#fff;line-height:0.5rem;margin:0.2rem 0
}
.extract-info>span{
    width:30%;background:#F9D829;
    display:inline-block;
    border-radius: 0.3rem;
    font-size:0.16rem;font-weight:bold;
    height:100%;
}
.extract-info>span:last-child{
     float:right;margin:0rem 0.2rem 0rem 0rem;
}
/* 地址 */
.address {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../static/img/bg.png');
    background-size: 100% 100%;
}
.address_content {
    left: 0;
    top: 15%;
    /*bottom: 12%;*/
    right: 0;
    position: absolute;
    overflow: auto;
    margin: 0 auto;
    border-raduis: 12px;
    /*background: #fff;*/
    border-radius: 10px;
    margin: 0 10px;
}
.address_content_history {
    left: 0;
    top: 15%;
    bottom: 12%;
    right: 0;
    position: absolute;
    overflow: auto;
    margin: 0 auto;
    margin: 0 14px;
    color: #a4a4a4;
}
.new_address {
    margin: 0px 10px 10px 10px;
    padding:20px 20px;
    background:#fff;
    border-radius: 6px;
    background:url('../../static/img/table_new.png') no-repeat;
    background-size: 100% 100%;
    background-color: #fff;
}
.address .mint-field-core {
    background: #FFF5EC;
    padding: 2px 10px;
    border-radius: 16px;
    font-size:.24rem;
}
.new_address .username:after,.new_address .phone:after {
    content: '';
    /*background:url('../../static/img/address_btn_write.png') no-repeat;*/
    background-size: 81%;
    width: 17px;
    height: 16px;
    position: absolute;
    right: -7px;
    top: 35%;
    margin-left: -19px;
    /*background-color: #ededed;*/
}
.new_address .location label {
    position: absolute;
    width: 1.33rem;
    font-size:.23rem;
    height: 50px;
    line-height: 50px;
}
.new_address .select-input {
    width: 78%;
    margin-left: 1.5rem;
    border: none;
    background: #FFF5EC;
    outline: none;
    border-radius: 16px;
    display: inline-block;
    padding:0px 6px;
    font-size:.24rem;
    height: 50px;
    line-height: 50px;
}

.new-address .mint-button {
    color: #fff;
    position: fixed;
    width: 5.4rem;
    margin: 0 auto;
    right: 0;
    left: 0;
    bottom: 2rem;
    height:89px;
    background:url('../../static/img/btn_new1.png');
    background-size: 100% 100%;
}
.new_address .new_address_wrap {
    margin-top: 60px;
}
.save_address{
    text-align:center;padding:0 10px;
}
.save_address .mint-button {
    color: #fff;
    /*position: fixed;*/
    width: 100%;
    margin: 0 auto;
    /*right: 0;
    left: 0;
    bottom: 2rem;*/
    height: 2.4em;
    background:url('../../static/img/address_btn_save1.png');
    background-size: 100% 100%;
}

.address .mint-cell {
     margin-bottom: 0rem;
     padding-bottom: 0rem;
}
.address-checkbox-select {
    font-size: .2rem;
    display: block;
 }
.new_address .checkbox-input:checked+.address-checkbox-core {
    height: 68px;
    background: url('../../static/img/address_btn_default2.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.new_address .address-checkbox-core {
    display: inline-block;
    background: url('../../static/img/address_btn_default1.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 68px;
    vertical-align: middle;
    margin-left: -1px;
}
.history_address .checkbox-input:checked+.address-checkbox-core {
    height: 28px;
    background: url('../../static/img/address_btn_default3.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.history_address .address-checkbox-core {
    display: inline-block;
    background: url('../../static/img/address_btn_default3.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 28px;
    vertical-align: middle;
    margin-left: -1px;
}
.address-checkbox-select {
    font-size: .2rem;
    display: block;
 }
.address .checkbox-input:checked+.address1-checkbox-core {
    background: url('../../static/img/address_btn_history_choose2.png') no-repeat;
    background-size: 100% 100%;
}

.address1-checkbox-core {
    display: inline-block;
    background: url('../../static/img/address_btn_history_choose1.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.address_content .location {
    position: relative;
}
.address_content .location .select {
    margin-left: 1.5rem;
    background: #FFF5EC;
    width: 100px;
    height: 50px;
    line-height: 49px;
    padding: 0 10px;
    border-radius: 16px;
    font-size:0.24rem;
}
.address_content .location {
    font-size: 16px;
    padding: 15px 0;
}
.address_content .location >span {
    display: inline-block;
}
.history_address .f_l >p {
    padding-bottom: 2px;
}
.history_address .address_list {
    border-radius: 10px;
    padding: 15px 36px;
    background: url('../../static/img/address_table_choose.png') no-repeat;
    background-size: 100% 100%;
    margin-bottom: 15px;
}
.history_address .mine-log {
    padding:35px 0;
    border-radius: 10px;
    padding: 20px 36px;
    margin-bottom: 15px;
}
.history_address .f_l >label {
    padding-top: 4px;
}
.history_address .title {
    padding-bottom: 35px;
}
.new_address .location .icon {
    background: url('../../static/img/address_btn_choose.png') no-repeat center;
    background-size: 80%;
    width: 45px;
    height: 45px;
    vertical-align: top;
    margin-top: 2px;
}
.new_address label >input {
    display: none;
}
.address .location-select {
    position: fixed;
    height: 400px;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 4;
    box-shadow: 1px 0px 7px #ccc;
}
.picker-item.picker-selected{
    background: #ededed;
}
.address .location-select .title {
    border-bottom: 1px solid #ccc;
    margin: 0 10px;
    padding: 10px 0;
}
.address .location-select .title .icon {
    position: absolute;
    display: inline-block;
    background: url('../../static/img/address_btn_sure.png');
    background-size: 100% 100%;
    right: 20px;
    width: 75px;
    height: 40px;
    top:3%;
}
.address .mint-field.is-textarea:after {
    content: '';
    /*background:url('../../static/img/address_btn_write.png') no-repeat;*/
    background-size: 80%;
    width: 17px;
    height: 16px;
    position: absolute;
    right: 1px;
    top: 10px;
    /*background-color:#ededed;*/
}
.address_content_history input {
    display: none;
}
.address_content .mint-field .mint-cell-title {
    width: 1.5rem;font-size:.23rem;
}
.location label {
    color: #8c8c8c;
}
.location > input,.location .select {
    color: #5b5b5b;
}
.mint-tab-container-wrap{
    height:100%;
}
/*碎片合成*/
.compound-detail{
    width: 523px;
    height: 755px;
    font-size: 12px;
    background: url(/static/img/compose_bg.png) center 25% no-repeat;
    z-index: 12;
    left: 0;
    right: 0;
    top: 16%;
    background-size: 100%;
    text-align: center;
    margin: 0 auto;
}
.compound-detail .op-btn{
    margin-top: 26px;
}
.compound-info{
    color: #fff;
    padding: 0 36px;
}
.compound-detail .op-btn .mint-button--default{
    height: 67px;
    margin-left: 20px;
    background:url('/static/img/compose_btn_compose1.png') no-repeat 0 0;
    background-size: 100%;
}
.compound-detail .op-btn .mint-button--primary{
    height: 67px;
    margin-right: 20px;
    background:url('/static/img/compose_btn_back1.png') no-repeat 0 0;
    background-size: 100%;
}
.compound-detail .compound-img {
    width: 220px;
    height: 160px;
    margin: 241px 145px 160px 145px;
}
.compound-detail .compound-name {
    color: #ffcb58;
    font-size: 20px;
    font-weight: bold;   
    padding: 3px 5px;
}
.compound-detail .total {
    color: #ff7a6e;
    font-size: 30px;
    font-weight: bold;
}
.compound-detail .small-compound-img >img {
    width: 72%;
    margin-top: -10px;
}








